body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

/*
CONTENT
*/
#content {
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	margin-bottom: 3%;
	margin-top: 3%;
	background-color: lightgray;
}

#contact-info {
	text-align: center;
	margin: auto;
}

#contact-info div {
	display: flex;
	flex-direction: column;
}

#contact-info div img {
	margin: 15px auto;
	user-select: none;
}

#map {
	width: 50%;
}

@media screen and (max-width: 1100px) {
	#map {
		width: 100%;
		height: 50%;
	}

	#contact-info {
		margin: 2% auto 5%;
	}
}

#footer
{
	
}