/*
HEADER
*/

#banner, #banner-img {
	height: 15%;
	background-color: white !important;
}

#cover-img, #trans-img {
display: none;
}

#logo-img {
	top: 50px;
	left: 7%;
	width: 18%;
	height: 15%;
}

#logo-img svg {
	height: 100%;
	width: 100%;
}

#logo-img svg * {
	stroke: rgb(31, 130, 163);
}

#logo-img svg rect + g path{
	fill: rgb(31, 130, 163);
}

#logo-img:hover {
	top: 36px;
}

#banner {
	border-bottom: solid 2px;
	background-color: lightgrey;
}

#banner-img {
	display: none;
}

#nav-bar {
	justify-content: left;
}

#tab-display {
	justify-content: left;
}

.second-tab-active {
	background-color: rgb(31, 130, 163);
	color: white;
}