/*
HEADER
*/

#upper-bar {
	position: relative;
}

#banner, #banner-img {
	height: 15%;
	background-color: white !important;
}

#cover-img, #trans-img {
display: none;
}

#banner {
	border-bottom: solid 1px;
	background-color: lightgrey;
}

#banner-img {
	display: none;
}

#nav-bar {
	justify-content: left;
}

#tab-display {
	justify-content: left;
}

.second-tab-active {
	background-color: #053171;
	color: white;
}