body {
	height: 100%;
	width: 100%;
}

/*
CONTENT
*/

#content {
	margin-bottom: 3%;
	margin-top: 3%;
}

#horaireWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
	padding: 30px;
	background-color: #dbdbdb;
}

@media screen and (max-width: 1200px) {
	.link-img {
		margin: 2%;
	}

}

