body {
	height: 100%;
	width: 100%;
}

/*
CONTENT
*/

#content {
	margin-bottom: 1%;
	margin-top: 1%;
}

#horaireWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
	padding: 30px;
	background-color: #dbdbdb;
}

@media screen and (max-width: 1200px) {
	.link-img {
		margin: 2%;
	}
	#horaireWrapper {
		flex-direction: column;
	}
	.link-img {
		width: 80% !important;
		margin: auto;
	}
	.up-btn {
		display: flex !important;
	}
}

@media screen and (min-width: 1400px) {
	.link-img {
		width:40%!important;
	}
}

@media screen and (min-width: 2000px) {
	.link-img {
		width:30%!important;
	}
}

.horaire-img {
	width: 100%;
}

.link-img {
	width: 50%;
}

.up-btn {
	color:white;
	font-family: 'MyriadPro_Semibold';
	background-color: #053171;
	height: 30px;
	width: min-content;
	margin: 15px auto;
	margin-bottom: 70px;
	padding: 5px;
	cursor: pointer;
	transition: 0.5s;
	display: none;
}

.up-btn h3 {
	margin:auto;
}

.up-btn:hover {
	background-color: #164fa2;
}

